<div id="progress-section">
    <div class="progress-bar-container">
        <div class="progress vertical progress-xlg">
            <div role="progressbar" style="height: <%= data.percentage %>%;" class="progress-bar progress-bar-default">
                <span class="sr-only"></span></div>
        </div>
        <%= data.percentage %>%
    </div>

    <% if (data.finished) { %>
        <p class="xmas-red strong center">Congratulations you found them all !!</p>
        <p class="xmas-green strong center">Well Done. Your host has some goodies for you as a prize</p>
    <% } else { %>
    <p>
        Your next button is:
    </p>
    <span class="xmas-red"><%= __(`button-name-${data.nextButton}`) %></span>
    <p>
        And your next clue is:
    </p>
    <span class="xmas-green"><%= __(`button-clue-${data.nextButton}`) %></span>

    <% } %>
</div>
