/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Minecraft Regular";
  src: url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.eot?") format("eot"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.woff") format("woff"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.ttf") format("truetype"),
  url("../fonts/Minecraft_Regular/minecraft_font_by_pwnage_block-d37t6nb.svg#Minecraft") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Minecraft Regular";
  background: #111111;
  color: white;
  font-size: 2.2vw;
}

a {
  color: #00B7FF;
}

table {
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  resize:both;
  overflow:auto;
}

td, th {
  border: 1px solid white;
}

tr:nth-child(even) {
  color : #2a942f;
}

th {
  color : #ff0000;
  padding: 1vw;
}

td {
  padding: 1.0vh;
}

dt {
  padding-bottom: 1vh;
}

.xmas-red {
  color : #ff0000;
}

.xmas-green {
  color : #2a942f;
}

.center {
  text-align: center;
}

.limited-width {
  max-width: 70vw;
  margin: auto;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header {
  text-align: center;
}

#header img {
  width: 30vw;
}

#header h1 {
  font-size: 3.0vw;
}

/* S N O W */

.hero {
  min-height: 50rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 45s infinite linear;
}

@keyframes fall {

  100% {
    transform: translateY(0);
  }

}

/* PROGRESS BAR */
.progress-bar-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.progress {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
}
.progress.progress-xs {
  height: 5px;
  margin-top: 5px;
}
.progress.progress-sm {
  height: 10px;
  margin-top: 5px;
}
.progress.progress-lg {
  height: 25px;
}
.progress.vertical {
  position: relative;
  width: 20px;
  height: 230px;
  display: inline-block;
  margin-right: 10px;
}
.progress.vertical > .progress-bar {
  width: 100% !important;
  position: absolute;
  bottom: 0;
}
.progress.vertical.progress-xs {
  width: 5px;
  margin-top: 5px;
}
.progress.vertical.progress-sm {
  width: 10px;
  margin-top: 5px;
}
.progress.vertical.progress-lg {
  width: 30px;
}
.progress.vertical.progress-xlg {
  width: 80px;
}

.progress-bar {
  background-color: #2196F3;
  box-shadow: none;
}
.progress-bar.text-left {
  text-align: left;
}
.progress-bar.text-left span {
  margin-left: 10px;
}
.progress-bar.text-right {
  text-align: right;
}
.progress-bar.text-right span {
  margin-right: 10px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.progress-bar-secondary {
  background-color: #323a45;
}

.progress-bar-default {
  background-color: #2a942f;
}

.progress-bar-success {
  background-color: #64DD17;
}

.progress-bar-info {
  background-color: #29B6F6;
}

.progress-bar-warning {
  background-color: #FFD600;
}

.progress-bar-danger {
  background-color: #ef1c1c;
}

