<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/refresh.js"></script>

  </head>
  <body>
    <%- include('partials/snow'); %>

    <div id="header">
        <img src="/images/christmastree.png">
        <h1 class="center" [data-test="title"]><%= title %></h1>
    </div>
    <div id="score-table">
    <%- include('partials/score-table', {standing}); %>
    </div>

  </body>
</html>
